.headerCard {
  display: flex;
  justify-content: space-between;
}

.author {
  display: flex;
  gap: 10px;
}

.author-detail {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.author-detail p {
  margin-bottom: 0;
}

.textJustify {
  text-align: justify;
}